@font-face {
  font-family: "Muro";
  src: url("../font/muro/Muro.otf");
}

@font-face {
  font-family: "beckman";
  src: url("../font/beckman/Beckman-FREE.otf");
}

@font-face {
  font-family: "coolvetica";
  src: url("../font/coolvetica/coolvetica rg.otf");
}

@font-face {
  font-family: "open-sans";
  src: url("../font/open-sans/OpenSans-Regular.ttf");
}

:root {
  --color: #fff;
  --animation-speed: 2s;
  --border-width: 10px;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "open-sans";
  scroll-behavior: smooth;
}
/*
#scroll-top {
  width: 3em;
  height: 3em;
  position: fixed;
  bottom: 3em;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  outline: none;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.3s linear;
  line-height: 1;
  border-radius: 50%;
  border: 0;
  background-color: #00000070;
  color: #fff;
  text-decoration: none;
}

#scroll-top:hover {
  transition: all 0.3s linear;
  background-color: #ffffff70;
  color: #000;
}
*/
/************************************/
/************************************/
/************  HEADER  **************/
/************************************/
/************************************/


#header {
  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  color: #a8a9b4;;
  z-index: 999;
  background-color: rgb(49, 42, 70);
  background-image: url("../img/scanlines.png");

  font-family: "beckman";
}

#header-top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-top-info a {
  color: #fff;
  text-decoration: none;
}

#header-top-info a:visited {
  color: #fff;
}

#header h1 {
  font-size: 40px;
  letter-spacing: 6px;
  margin-top: 10px;
  color: #fff;
  text-shadow: 0 0 21px #fff;
  text-decoration: none;
}

#social-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.social-link-icon {
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  font-size: 29px;
  color: #202020;
  background-color: #a8a9b4;
}

#social-links a:visited {
  color: #202020;
}

.social-link-icon:hover {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
}

#nav-bar {
  width: 80%;
  font-size: 1.3em;
}

#nav-bar li {
  margin-bottom: 25px;
  list-style-type: none;
}

#nav-bar i {
  margin-right: 15px;
}

#nav-bar a {
  transform-origin: left;
  display: block;
  color: #a8a9b4;
  text-decoration: none;
}

#nav-bar a:visited {
  color: #a8a9b4;
}

#nav-bar a:hover {
  transform: scale(1.1);
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

#copyright {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(30, 25, 43);
}

#header-separator {
  width: 1px;

  position: absolute;
  top: 0;
  left: 310px;
  bottom: 0;

  background-color: rgb(150, 150, 150);

  opacity: .8;
  z-index: 9995;
}


/************************************/
/************************************/
/*************  MAIN  ***************/
/************************************/
/************************************/


.main {
  min-height: 100vh;
  margin-left: 310px;
  background-color: rgb(49, 42, 70);
}


/************************************/
/************************************/
/********* PAGE D'ACCUEIL ***********/
/************************************/
/************************************/


#home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 4em;
  font-family: "Muro";

  background-image: linear-gradient(rgb(49, 42, 70) 90%, rgb(36,31,52));
}

#home-title-container {
  padding: 0 1em;
  text-align: center;
}

#home-title-container {
  margin-bottom: 0.1em;
  position: relative;
}

#home-title {
  position: relative;
  z-index: 500;
  color: rgba(255,255,255,0.7);
}

#title-shadow {
  position: absolute;
  color: rgba(0, 0, 0, 0.63);
  top: 0;
  transform: skew(-48deg);
  transform-origin: bottom;
}


.animated-underline {
  width: 100%;
  height: 0.1em;

  transform-origin: left;
  transform: scaleX(0.02);

  background-color: #ff2975;
  animation: moveUnderline 5s ease-in-out infinite normal forwards;
}



@keyframes moveUnderline {
  from {
    transform: translateX(0%) scaleX(0.02);
  }

  3% {
    transform: translateX(0%) scaleX(0.02);
  }

  53% {
    transform: translateX(99%) scaleX(0.05);
  }

  to {
    transform: translateX(0%) scaleX(0.02);
  }
}


/***********************************************/
/***********************************************/
/***************** BOUNCING  TEXT **************/
/***********************************************/
/***********************************************/


.bouncing-text {
  position: relative;
  display: flex;
}

.bouncing-text-char {
  position: relative;
  color: #00e78a;
}

.bouncing-text-char:nth-child(1) {
  animation: bounce 5s ease infinite;
}
.bouncing-text-char:nth-child(2) {
  animation: bounce 5s ease 0.1s infinite;
}
.bouncing-text-char:nth-child(3) {
  animation: bounce 5s ease 0.2s infinite;
}
.bouncing-text-char:nth-child(4) {
  animation: bounce 5s ease 0.3s infinite;
}
.bouncing-text-char:nth-child(5) {
  animation: bounce 5s ease 0.4s infinite;
}
.bouncing-text-char:nth-child(6) {
  animation: bounce 5s ease 0.5s infinite;
}
.bouncing-text-char:nth-child(7) {
  animation: bounce 5s ease 0.6s infinite;
}
.bouncing-text-char:nth-child(8) {
  animation: bounce 5s ease 0.7s infinite;
}
.bouncing-text-char:nth-child(9) {
  animation: bounce 5s ease 0.8s infinite;
}
.bouncing-text-char:nth-child(11) {
  animation: bounce 5s ease 0.9s infinite;
}
.bouncing-text-char:nth-child(12) {
  animation: bounce 5s ease 1.0s infinite;
}
.bouncing-text-char:nth-child(13) {
  animation: bounce 5s ease 1.1s infinite;
}
.bouncing-text-char:nth-child(15) {
  animation: bounce 5s ease 1.2s infinite;
}
.bouncing-text-char:nth-child(16) {
  animation: bounce 5s ease 1.3s infinite;
}
.bouncing-text-char:nth-child(17) {
  animation: bounce 5s ease 1.4s infinite;
}
.bouncing-text-char:nth-child(19) {
  animation: bounce 5s ease 1.5s infinite;
}
.bouncing-text-char:nth-child(20) {
  animation: bounce 5s ease 1.6s infinite;
}
.bouncing-text-char:nth-child(21) {
  animation: bounce 5s ease 1.7s infinite;
}
.bouncing-text-char:nth-child(22) {
  animation: bounce 5s ease 1.8s infinite;
}
.bouncing-text-char:nth-child(23) {
  animation: bounce 5s ease 1.9s infinite;
}
.bouncing-text-char:nth-child(24) {
  animation: bounce 5s ease 2.0s infinite;
}
.bouncing-text-char:nth-child(25) {
  animation: bounce 5s ease 2.1s infinite;
}
.bouncing-text-char:nth-child(26) {
  animation: bounce 5s ease 2.2s infinite;
}
.bouncing-text-char:nth-child(27) {
  animation: bounce 5s ease 2.3s infinite;
}


 @keyframes bounce {
  0%    { transform: scale(1,1) translateY(0); }
  4%    { transform: scale(1.1,.9) translateY(0); }
  8%    { transform: scale(.9,1.1)   translateY(-30px);}
  10%   { transform: scale(1.05,.95) translateY(0); }
  12%   { transform: scale(1,1) translateY(-7px); }
  20%   { transform: scale(1,1) translateY(0);}
  100%  { transform: scale(1,1) translateY(0);}
}



#home-scroll {
  width: 13px;
  height: 13px;

  position: absolute;
  bottom: 20px;

  display: block;
  color: #fff;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 3s ease-in-out infinite;

}


@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}



/************************************/
/************************************/
/************  COMMUN  **************/
/************************************/
/************************************/

h2, h3 {
  font-family: "beckman";
}

main > section:nth-child(even) {
    background: linear-gradient(rgb(36,31,52) 10%, rgb(23, 19, 34) 90%, rgb(36,31,52));
}

main > section:nth-child(odd) {
  background: linear-gradient(rgb(36,31,52) 10%, rgb(49,42,70) 90%, rgb(36,31,52));
}

.section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12vh 0;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 80px;
}

.container h2 {
  width: fit-content;
  font-size: 2.5em;
  margin-bottom: 2em;
}

.container h2::after {
  content: '';
  display: block;
  width: 40%;
  height: 4px;
  background: #ff901f;
}

.container h3 {
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  width: fit-content;
  margin-bottom: 45px;
}

.vertical-separator {
  width: 1px;
  height: 100%;

  margin: 0 10px;

  position: absolute;
  left: 50%;
  top: 5px;

  background-color: rgb(150, 150, 150);
}

.note-text {
  text-align: center;
  font-style: italic;
  font-size: 0.85em;
}

.dark-filter {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  background-color: #000;
  border-radius: 9px;

  transition: all 0.2s linear;
}

.white-filter {
  filter: brightness(100);
}

.txt-glow {
  text-shadow: 0 0 4px #fff;
}

.txt-glow-light {
  text-shadow: 0 0 2px #fff;
}

.long-text-font {
  font-family: "coolvetica";
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-45 {
  margin-bottom: 45px;
}





/************************************/
/************************************/
/********* PAGE A PROPOS ************/
/************************************/
/************************************/

#about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.shiny-btn {
  width: fit-content;
  margin-bottom: 45px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 100px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  font-size: 1.2em;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
}

.shiny-btn:active,
.shiny-btn:hover {
  outline: 0;
}

.shiny-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.shiny-btn:hover span {
  background: none;
}

#skills-container h4 {
  font-size: 1.3em;
  margin-bottom: 35px;
}

.skill-carousel {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
  margin-bottom: 30px;
  left: 1px;
  right: 0;
}

.skill-carousel::before, .skill-carousel::after {
  position: absolute;
  height: 100%;
  width: 7%;
  top: -5px;
  z-index: 999;
  content: "";
}

.skill-carousel::before {
  left: 0;
  background: linear-gradient(to right, #191424 0%, transparent 100%);
}

.skill-carousel::after {
  right: 0;
  background: linear-gradient(to left, #191424 0%, transparent 100%);
}

.skill-carousel:hover .card-container {
  animation-play-state: paused;
}

.card-container {
  display: inline-block;

  animation: 15s slide-carousel infinite linear;
}

#tools-title {
  margin-top: 275px;
}

.skill-card {
  display: inline-block;
  width: fit-content;
  padding: 15px 25px;
  margin: 0 40px;
  background-color: rgb(23, 19, 34);
  border-radius: 10px;
  border: 2px solid rgb(49,42,70);
  transition: all 0.3s linear;
}

.skill-img img {
  transition: all 0.3s linear;
  height: 100px;
  width: 105px;
}

.skill-card-separator {
  transition: all 0.3s linear;
  width: 100%;
  height: 1px;
  margin: 10px 0;

  background-color: rgb(150, 150, 150);
}

.skill-img p {
  transition: all 0.3s linear;
}

.skill-name {
  transition: all 0.3s linear;
  font-size: 1.1em;
  text-align: center;
}

.skill-card:hover {
  transition: all 0.3s linear;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1);
  border-color: rgb(23, 19, 34);
}

.skill-card:hover .black-filter {
  transition: all 0.3s linear;
  filter: brightness(0);
}

.skill-card:hover img {
  transition: all 0.3s linear;
  transform: scale(0.8);
}

.skill-card:hover p {
  transition: all 0.3s linear;
  color: #333;
}

.skill-card:hover .skill-card-separator {
  transition: all 0.3s linear;
  color: #222;
}


@keyframes slide-carousel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/************************************/
/************************************/
/***********  PAGE BTS  *************/
/************************************/
/************************************/

.container {
  max-width: 1200px;
  margin: 0 80px;
}

#bts h2 {

}

#bts-options-container {
  display: flex;
  margin-bottom: 75px;
}

#ma-filiere {
  position: absolute;
  right: -2em;
  top: -1em;
  text-shadow: 0 0 21px #fff;
  font-size: 1.2em;
  animation: gentlefloat 8s linear 0s infinite;
}

#ma-filiere i {
  margin: 0;
}

@keyframes gentlefloat {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  12.5% {
    transform: translateY(4px) rotate(-5deg);
  }
  25% {
    transform: translateY(0px) rotate(5deg);
  }
  37.5% {
    transform: translateY(-4px) rotate(-5deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  62.5% {
    transform: translateY(4px) rotate(5deg);
  }
  75% {
    transform: translateY(0px) rotate(-5deg);
  }
  87.5% {
    transform: translateY(-4px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }


}

#bts-options-container > div {
  position: relative;
  margin: 0 60px;
  padding: 17px 23px;
  transition: all 0.1s linear;
  background-color: rgb(31, 25, 49);
  border-radius: 10px;
}

.bts-option-icon {
  margin-left: 20px;
}

#bts-options-container > div > h3 {
  margin-bottom: 12px;
  transition: all 0.1s linear;
  text-decoration: none;
  border: none;
}

#bts-options-container p {
  font-size: 0.95em;
  text-indent: 2em;
  transition: all 0.1s linear;
}

#bts-options-container > div:hover {
  transition: all 0.2s linear;
  transform: scale(1.2);
  background-color: rgb(153, 140, 193);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(31, 25, 49);
  border: none;
}

#bts-options-container > div:hover h3 {
  transition: all 0.2s linear;
  text-decoration: underline;
}

#bts-options-container > div:hover #ma-filiere {
  transition: all 0.2s linear;
  color: #fff;
}



/************************************/
/************************************/
/********  PAGE PARCOURS  ***********/
/************************************/
/************************************/

.parcours-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-bottom: 45px;
}

.parcours-card {
  width: 30%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 10, 23);
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.3s linear;
}

.parcours-card a {
  color: #fff;
  text-decoration: none;
}

.parcours-card a:visited {
  color: #fff;
}

.parcours-card-head {
  height: 4em;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.parcours-card-head h4 {
  font-size: 1.2em;
  text-align: center;
}

.parcours-card-head img {
  width: 50%;
}

.double-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.double-logo a {
  width: 50%;
}

.double-logo img {
  width: 100%;
}

.parcours-card p {
  text-align: center;
  margin: auto;
}

.parcours-card:hover {
  transition: all 0.2s linear;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/************************************/
/************************************/
/*********  PAGE PROJETS  ***********/
/************************************/
/************************************/

#projet > div {
  width: 100%;
}

#project-card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

#project-card-container a {
  color: #fff;
  text-decoration: none;
}

#project-card-container a:visited {
  color: #fff;
}

.projet-card-link {
  display: block;
  height: 210px;
}

#projet img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

#projet figure {
  position: relative;
  height: 100%;
  border-radius: 10px;
}

#projet figcaption  {
  opacity: 0;

  position: absolute;
  top: 20px;
  left: 25px;
  color: #fff;

  z-index: 999;

  transition: all 0.2s linear;
}

.projet-type {
  position: absolute;
  bottom: 0;
  right: 20px;
  opacity: 0;
  background-color: rgb(49,42,70);
  border-radius: 10px 10px 0 0;
  padding: 2px 8px 3px 8px;
  transition: all 0.2s linear;
}

#projet figure:hover .dark-filter {
  opacity: 0.8;
  transition: all 0.2s linear;
}

#projet figure:hover figcaption {
  opacity: 1;
  transition: all 0.2s linear;
}

#projet figure:hover .projet-type {
  opacity: 1;
  transition: all 0.2s linear;
}



/************************************/
/************************************/
/**********  PAGE VEILLE  ***********/
/************************************/
/************************************/

.veille-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.veille-card {
  width: 30%;
  min-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(49,42,70);
  border-radius: 10px;
  transition: all 0.2s linear;
}

.veille-card:hover {
  transition: all 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1);
}

.veille-card img {
  height: 7em;
}

.veille-card h4 {
  font-size: 1.3em;
  margin: 5px 0 0 0;
}

.veille-card p {
  text-align: center;
  padding: 0 0.4em;
  margin: auto;
}

.veille-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veille-card a {
  color: #fff;
  text-decoration: none;
}

.veille-card a:hover {
  text-decoration: underline;
}



/************************************/
/************************************/
/*********  PAGE CONTACT  ***********/
/************************************/
/************************************/

#contact .container {
  width: 100%;
}

#contact h2 {
  margin-bottom: 35px;
}

.send-me-msg {
  font-size: 2em;
}

/* SEND MAIL FORM TODO

.form-top {
  display: flex;
  gap: 2em;
}

.form-input {
  width: 100%;
  min-width: 280px;
  display: block;
  margin-bottom: 2em;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 1.2em;
  line-height: 1.6;
  color: rgb(49,42,70);
  background-color: #FFF;
  border: 0;
}

.form-textarea {
  height: 9.6em;
}

#contact button {
  padding: 10px 25px;
}
*/

#contact-infos-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  font-size: 1.3em;
  text-decoration: underline;
}

.contact-infos {
  font-size: 1.2em;

  font-family: "beckman";
}

.contact-infos i {
  margin-right: 15px;
  color: rgb(156, 129, 234);
}










/************************************/
/************************************/
/*******  PAGE CLIENT LEGER  ********/
/************************************/

/************************************/
.other-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;

  color: #fff;
}

.other-main h2 {
  margin: 50px 0;
  font-size: 2em;
}